# Pré-processamento e Manipulação de Imagens
opencv-python
kagglehub

# Deep Learning e Extração de Características
torch
torchvision

# Manipulação de Dados e Visualização de Progresso
pandas
tqdm